body{
    background-color: rgb(231, 231, 231);
    padding: 0px;
    margin: 0;
}

.container{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 270px;
    background-color: rgb(37, 37, 37);
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.right-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.header {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 15px black;
    z-index: 1
}

.content {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.sidebar h1{
    font-size: 22px;
    font-weight:400;
}

ul{
    text-align: left;
    list-style: none
}

ul a{
    text-decoration: none;
}

li {
    margin-top: 15px;
    color: rgb(216, 216, 216);
}

li:hover{
    color: white;
}

ul li::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url('graduation-cap-solid-full.svg');
    background-size: cover;
}

hr {
    border: 1px solid rgb(92, 92, 92);
    margin-bottom: 22px;
}