body{
    background-color: rgb(231, 231, 231);
    padding: 0px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 270px;
    background-color: rgb(37, 37, 37);
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.right-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    flex: 1;
}

.content {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

.sidebar h1{
    font-size: 22px;
    font-weight:400;
}

ul{
    text-align: left;
    list-style: none;
    margin-bottom: 30px;
}

ul li a{
    text-decoration: none;
    color: rgb(198, 198, 198);
}

li {
    margin-top: 15px;
    color: rgb(216, 216, 216);
}

li a:hover{
    color: white;
}

ul .list-icon{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url('graduation-cap-solid-full.svg');
    background-size: cover;
}

hr {
    border: 1px solid rgb(92, 92, 92);
    margin-bottom: 22px;
}



.header {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 15px black;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.main-menu{
    display: flex;
    align-items:center;
    column-gap: 10px;
    padding: 10px;
}

.menu{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 7px 15px;
    box-sizing: border-box;
}

.menu:hover {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.secondary-menu{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
}

.logout{
    background-color: red;
    color: white;
    border: none
}

.account{

    background-color: green;
    color: white
}

h4{
    text-align: left;
    color: rgb(119, 119, 119);
    text-transform: uppercase;
    font-weight:400;
}

.nav-container{
    padding-left: 30px;
}

.content table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.content table th, .content table td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}